.navMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 70px;
}
.navLeft {
  grid-column: 1 / 2;
  display: flex;
  justify-content: left;
}
.navLeft > img {
  margin: 2px 0 0 10px;
  height: 65px;
}
.navRight {
  grid-column-start: 2 / 3;
  display: flex;
  justify-content: right;
}
.navRight > img {
  margin: auto 7px;
  height: 30%;
}
.navRight > button {
  margin: auto 7px;
  height: 30%;
}
.navRightLoggedOut {
  margin: auto 0 auto auto;
  text-align: right;
  grid-column-start: 2 / 3;
}
#goToLogin {
  height: 70px;
  border: none;
  color: #FFF;
  background-color: #48822D;
}
#logout:hover {
  background-color: #48822D;
  color: #FFF;
}
.test {
  padding: 17px 10px;
}
.test:hover {
  cursor: pointer;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.168);
}