.navMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.navLeft {
  grid-column: 1 / 2;
  display: flex;
  justify-content: left;
}
.navLeft > img {
  margin-top: 2px;
  height: 80%;
}
.navRight {
  grid-column-start: 2 / 3;
  display: flex;
  justify-content: right;
}
.navRight > img {
  margin: auto 7px;
  height: 30%;
}
.navRight > button {
  margin: auto 7px;
  height: 30%;
}
.test {
  height: 86%;
  padding: 17px 10px;
}
.test:hover {
  background-color: #0af;
}