/* @media (min-width: 576px) {
  .card-columns {
      column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
      column-count: 3;
  }
} */

/* @media (min-width: 400px) { */
  /* .card-columns {
    /* -webkit-column-count: ; */
     /* column-count: 4;
  } */

/* 
@media (min-width: 1200px) {
  .card-columns {
      column-count: 5;
  }
} */

/* .card {
  overflow: hidden;
  border-radius: 0 !important;
  border: 0 none;
  width: 200px !important;
} */
/* 
.card-img-top {
  width: 100%;
  border-radius: 0 !important;
} */

.card.small {
  height: 100%;
  border: none;
}

.news-header {
  padding: .25em .25em .25em .25em;
}

.article-profile {
  padding: .25em;
  margin: .5em;
}

.article-profile-img {
  padding-right: 10px;
  width: 100%;
  height: 100%;
}

.photo-size {
  position: relative;
  width:  250px;
  background-repeat:   no-repeat;
  background-size:     cover;
  overflow: hidden;
}

.article-img {
  padding: 0;
}

.comments-sizing {
  padding: 0;
}
.article-row {
  padding: 2em 2em 0 2em;
}

.article-card {
  margin-top: .5em;
  padding-right: 13%;
}

.art {
  color: #48822D;
  /* width: 90%; */
}
/* .post-comments {
  padding-bottom: 9px;
  margin: 5px 0 5px;
} */

.container-comments {
  padding: 2% 0 0 0;
} 

.btn-cits {
  transition: background-color 0.5s ease;
  background-color: #48822D;
  color: white;
  padding: 10px 20px;
  margin: 2px;
  border: none;
  cursor: pointer;
}

.btn-cits:hover {
  background-color: rgb(26, 83, 26);
}


/* Article Entry Form */

.AEFMain {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5vh auto auto auto;
  width: 20%;
}

.AEFrow {
  padding: 0 20%;
}

.AEFcol {
  background-color: #F1F1F1;
  color: #F1F1F1;
  padding-left: 0 20%;
  width: 100%;
  text-align: center;
  border: 1px solid #e0e0e0;
  padding: 0;
}

.AEFInnerInputs {
  border: none; 
  width: 80%;
  height: 50px;
  padding-left: 15px;
  margin: 5px;
  color: #616161;
  font-size: small;
}

.article-entry-spacing {
  padding: 5% 0 0 0;
}

.textarea {
  margin-top: 5px;
  padding-left: 10px;
  padding-top: 10px;
  width: 80%;
  height: 300px;
  border: none;
  margin-bottom: 15px;
}

.reply-form {
  padding: 0 2% 2% 2%;
}

.posts-comments-posts {
  padding: 2% 0 0 0;
}

input::placeholder {
  color: #aeaeae;
}

.bottom {
  margin-bottom: 75px;
}