/* --
  GENERIC RESET
-- */
* {
  outline: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
/*--
dl, dt, dd, ol, ul, li,
-- */
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --
  GENERIC RESET
-- */


/* --
  TYPOGRAPHY
-- */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #616161;
}

/* --
  CUSTOM
-- */

textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus, button, .btn, .btn-lg {
  outline: 0px !important;
}


.davidContainer {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 60px;
  grid-template-areas: 
    "header"
    "content"
    "footer"
}

.header {
  z-index: 1000;
  grid-area: header;
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #FFF;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.168);
}

.main {
  grid-area: content;
  overflow: hidden;
}

.footer {
  height: 75px;
  position: static;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 200;
  background-color: #48822D;
}

/* --
  LOGIN
-- */

.loginInner {
  background-color: #F1F1F1;
  color: #F1F1F1;
  margin: 0 auto;
  width: 30%;
  text-align: center;
  border: 1px solid #e0e0e0;
  padding: 40px;
}

.loginInner > input {
  border: none; 
  width: 87%;
  height: 50px;
  padding-left: 15px;
  color: #616161;
  font-size: small;
}

.loginInner > input::-webkit-input-placeholder { /* WebKit browsers */
  color: #aeaeae;
  font-size: small;
}

.loginInner > input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #aeaeae;
  font-size: small;
}

.loginInner > input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #aeaeae;
  font-size: small;
}

.loginInner > input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #aeaeae;
  font-size: small;
}

#loginButton {
  transition: background-color 0.5s ease;
  color: #fff;
  font-size: medium;
  border: none;
  background-color: #48832B;
  padding: 10px 30px;
  margin: 25px 10px 0 0;
  cursor: pointer;  
}

#loginButton:hover {
  background-color: rgb(26, 83, 26);
}

.loginError {
  color: red;
  font-size: 14px;
}

#orSignUp {
  transition: color 0.5s ease;  
  text-decoration: none;
  color: #48832B;
  cursor: pointer;
}

#orSignUp:hover {
  color: rgb(26, 83, 26);
}

/* --
  LOGIN
-- */

/* --
  SIGNUP
-- */
.propertySearch {
  color: #616161;
}

.signUpInner {
  background-color: #F1F1F1;
  color: #F1F1F1;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #e0e0e0;
  padding: 40px;
  padding-bottom: 50px;
  margin-bottom: 75px;
}

.signUpInnerSelect {
  border: none; 
  width: 87%;
  height: 50px;
  margin-top: -20px;
  margin-bottom: -50px;
  padding-left: 15px;
  color: #616161;
}

.signUpInnerInputs {
  border: none; 
  width: 87%;
  height: 50px;
  padding-left: 15px;
  margin: 5px;
  color: #616161;
  font-size: small;
}

.signUpButtons {
  transition: background-color 0.5s ease;
  color: #fff;
  font-size: medium;
  border: none;
  background-color: #48832B;
  padding: 10px 30px;
  margin: 25px 10px 0 0;
  cursor: pointer;  
}

.signUpButtons:hover {
  background-color: rgb(26, 83, 26);
}

.signUpButtons-clear {
  transition: background-color 0.5s ease;
  color: #48832B;
  font-size: medium;
  border-width: 2px;
  border-style: solid;
  border-color: #48822D;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 30px;
  margin: 25px 10px 0 0;
  cursor: pointer;  
}

.signUpButtons-clear:hover {
  color: white;
  background-color: #48822D;
}

.signUpInner > input::-webkit-input-placeholder { /* WebKit browsers */
  color: #aeaeae;
  font-size: small;
}

.signUpInner > input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #aeaeae;
  font-size: small;
}

.signUpInner > input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #aeaeae;
  font-size: small;
}

.signUpInner > input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #aeaeae;
  font-size: small;
}

.signUpError {
  color: red;
  font-size: 14px;
}

.only-login {
  margin-top: 25px;
  font-size: 20px;
}

.side-note {
  color: #aeaeae;
  font-size: 14px;
}

hr {
  width: 87%;
}

.prop-field {
  margin-bottom: 15px;
}

/* --
  SIGNUP
-- */

/* --
  CHAT
-- */

.chatContainer {
  display: grid;
  grid-template-columns: 200px 1fr;
}
/* --
  MEMBERS
-- */
.membersMain {
  width: 80%;
  height: 750px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 8vh auto auto auto;
}
.membersInner {
  overflow: scroll;
  background-color: #FFF;
  color: rgb(77, 77, 77);
  margin: 3vh auto 0 auto;
  padding: 15px;
  height: 80%;
  width: 70%;
  text-align: left;
  background: linear-gradient(#e0e0e0 70%, #fff);
  font-size: large;
}
.membersInner > ul > li {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #b0b0b0;
}
#membersWord {
  font-size: xx-large;
  width: 70%;
  margin: 0 auto 0 auto;
}
/* --
  CHAT
-- */

/* --
  ARTICLE
-- */
.articleError {
  color: red;
  font-size: 14px;
}
/* --
  ARTICLE
-- */

/* --
  TICKET
-- */
.ticketError {
  color: red;
  font-size: 14px;
}
/* --
  TICKET
-- */

/* --
  PROFILE
-- */
.profileError {
  color: red;
  font-size: 14px;
}
/* --
  PROFILE
-- */
